@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registro de Usuario";
    
}
<h1>Registro de Usuarios</h1>
<form method="post" class="form-floating">
    <div class="form-group">
        <label asp-form="Nombre"></label>
        <input class="form-control" asp-form="Nombre"/>
    </div>
    
</form>
